<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Gift Card generator</title>
</head>
<body>
    <h1>ML Model Deployment</h1>
    <form action="/base" method="post">
        <label for="Felicitacion">input1:</label>
        <input type="text" id="felicitacion" name="felicitacion" required><br><br>
        <label for="displacement">input2:</label>
        <input type="text" id="displacement" name="displacement" required><br><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>